<div id="<%= dom_id rest_price %>">
  <p>
    <strong>Prices:</strong>
    <%= rest_price.prices_id %>
  </p>

  <p>
    <strong>Resturants:</strong>
    <%= rest_price.resturants_id %>
  </p>

</div>
