<div id="<%= dom_id price %>">
  <p>
    <strong>Name:</strong>
    <%= price.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= price.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= price.content %>
  </p>

</div>
