<div id="<%= dom_id price %>">
  <p>
    <strong>Menu Item:</strong>
    <%= price.name %>
  </p>

  <p>
    <strong>Name of Resturant:</strong>
    <%= price.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= price.content %>
  </p>

</div>
